* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
    color: #faebd7;
}
.sub-container {
    text-align: center;
    font-size: 28px;
    margin-top: 2%;
}
.board {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 30%;
    margin-left: 33%;
    margin-top: 3%;
    height: 10%;
}
.tile {
    padding: 7px;
    border: 4px solid;
    padding: 25px;
    cursor: pointer;
}
.countdown {
    margin-left: 70%;
    color: white;
    font-size: 35px;
}
.controls {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    border-color: white;
    width: 140px;
    margin-top: 4%;
}
button {
    cursor: pointer;
    transition: ease 0.5sec;
}
button:hover {
    background-color: blue;
    color: white;
}
.playerX {
    color: green;
}
.playerO {
    color: blue;
}